@import '../../styles.scss';

.create {
  position: relative;
  max-width: 780px;
  box-sizing: border-box;
  background: $layout;
  color: #000;
  border-radius: 30px;
  padding: 50px 130px 100px;
}

.title {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 29px;
  color: $primary;
  font-weight: 800;
  text-align: center;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 12px;
  height: 12px;
}