@import '../../styles.scss';

.shapka {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  padding: 18px 0;
  box-sizing: border-box;
}

.logo {
  color: inherit;
}

.link {
  text-decoration: none;
}

@media (max-width: 670px) {
  .shapka {
    padding: 14px 0;
    height: auto;
    flex-wrap: wrap;
    gap: 10px;
  }

  .logo {
    font-size: 20px;
    margin-right: 0;
  }

  .name {
    font-size: 14px;
    margin-right: 0;
  }
}
