@import '../../../styles.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #EECFBA, #9E38DC);
  min-height: 100vh;
  padding-top: 150px;
  box-sizing: border-box;
}

.loginWrap {
  width: 550px;
  border-radius: 30px;
  padding: 50px 90px 100px;
  background: $layout;
  box-sizing: border-box;
}

.title {
  text-align: center;
  color: $layout;
  margin-bottom: 10px;
}

@media (max-width: 670px) {
  .wrapper {
    padding-top: 80px;
    min-width: 320px;
  }

  .loginWrap {
    width: 100%;
    max-width: 90%;
    padding: 30px 20px 40px;
    border-radius: 20px;
  }

  .title {
    font-size: 28px;
  }
}
