@import '../../styles.scss';

.plan {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  padding: 30px 20px;
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: 1fr minmax(auto, 900px) 1fr;
  grid-template-areas: "left center right";
}

.left {
  grid-area: left;
  display: flex;
}

.center {
  grid-area: center;
  max-width: 900px;
}

.right {
  grid-area: right;
  width: 100%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.showTasks {
  display: none;
  position: fixed;
  top: 110px;
  left: 20px;
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;

  &._isTaskListOpen {
    display: none;
  }
}

@media (max-width: 1320px) {
  .main {
    grid-template-columns: minmax(auto, 700px) 250px;
    grid-template-areas: "center right" "left left";
    gap: 40px 0;
    justify-content: space-between;
  }

  .left {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: 6;
    transition: left 0.3s ease;

    &.open {
      left: 0;
    }
  }

  .showTasks {
    display: block;
  }
}

@media (max-width: 670px) {
  .main {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "center"
      "right"
      "left";
  }

  .showTasks {
    top: 77px;
  }
}
