@import '../../styles.scss';

.profile {
  padding: 30px;
  max-width: 550px;
  width: 100%;
  border: 1px solid $greyColor;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @media (max-width: 1320px) {
    max-width: 492px;
  }

  @media (max-width: 768px) {
    padding: 20px;
  }

  @media (max-width: 480px) {
    padding: 15px;
    min-width: 300px;
  }
}

.label {
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
}

.selectWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.select {
  width: 100%;
  padding: 10px 35px 10px 12px;
  border-radius: 12px;
  border: 1px solid $greyColor;
  appearance: none;
  font-size: 16px;
  color: $placeholder;
  cursor: pointer;
  box-sizing: border-box;

  option {
    background-color: $layout;
    color: inherit;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 10px;
  height: 6px;
  stroke-width: 2;
  stroke: #9098A9;
  fill: none;
  pointer-events: none;
}

.error {
  color: $redColor;
}

.buttonGroup {
  display: flex;
  gap: 20px;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }

  .button {
    width: 100%;
    max-width: 100%;
  }
}

.sprites {
  display: none;
}
