@import '../../styles.scss';

.roomWrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border: 1px solid $greyColor;
  border-radius: 30px;
}

.key {
  margin-bottom: 20px;
  color: $placeholder;
  font-size: 16px;
}

.value {
  color: $primary;
  font-size: 16px;
  font-weight: 600;
}

.close {
  width: 12px;
  height: 12px;
}
