@import '../../styles.scss';

.label {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.labelText {
  display: block;
  margin-bottom: 6px;

  font-size: 16px;
  font-weight: 500;
}

.input {
  display: block;
  @include text-input(10px 15px, $radius-sm);

  font-size: 16px;
  line-height: 22px;
  color: $text-secondary;
}

@media (max-width: 768px) {
  .input {
    padding: 8px 12px;
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .input {
    padding: 6px 10px;
    font-size: 14px;
    line-height: 18px;
  }
}
