@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Inter', Arial, sans-serif;
}

$primary: #383838;
$layout: #fff;
$yellowColor: #fdc22b;
$darkYellow: #FDA92B;
$blueColor: #61BBFE;
$darkBlue: #3E5AC0;
$violetColor: #9E38DC;
$redColor: #D3544C;
$greyColor: #C3C3D6;
$placeholder: #ABABB6;
$purpleColor: #a569bd;
$lightGrey: #f1f1f1;
$aliceBlue: #EBF4FF;
