@import '../../styles.scss';

.tasks {
  overflow-y: auto;
  background-color: $layout;
  padding: 0 20px;
  box-sizing: border-box;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid $greyColor;
  margin-bottom: 15px;

  &._active {
    background-color: #eadff2;
  }
}

.link {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: $purpleColor;
}

.taskManage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: unset;
  align-self: flex-end;
  cursor: pointer;
}

.setSpBtn {
  font-size: 15px;
  font-weight: 600;
}

.stList {
  display: flex;
  width: 100%;
  background-color: $layout;
  padding: 1.4rem;
  border-radius: 12px;
  border: 1px solid $purpleColor;
}

.stBtn {
  background: unset;
  border: none;
  outline: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 2.8rem;
  width: 2.8rem;
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  letter-spacing: .02em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .09s linear;

  &:hover {
    background-color: #e8e9ea;
  }
}

.delete {
  cursor: pointer;
}
