@import '../../styles.scss';

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 422px;
  background-color: $layout;
  border: 1px solid $greyColor;
  border-radius: 30px;
  padding: 20px;
  min-width: 330px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;
  margin-top: 20px;
}

.contentColumn {
  display: grid;
  grid-template-rows: 1fr auto;
  max-height: 100%;
}

.issue {
  padding: 20px;
  box-sizing: border-box;
}

.btn,
.activeTasks,
.finishedTasks {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

.tabButton {
  color: $placeholder;
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 6px 10px;
  font-size: 16px;
  transition: color 0.2s;

  &._active {
    color: $primary;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;

  &:hover {
    background-color: $lightGrey;
    transition: all .09s linear;
  }

}

.textarea {
  background-color: $lightGrey;
  border: 0;
  border-radius: 8px;
  padding: 1.6em;
  box-sizing: border-box;
  height: 6rem;
  resize: none;
  width: 100%;
  margin-bottom: 15px;

  &:focus-visible {
    outline: 0;
  }
}

.createTaskBtns {
  display: flex;
  justify-content: space-between;
}

.createTaskBtns > :first-child {
  margin-right: 20px;
}

.createTaskWrapper {
  display: none;

  ._showAddTask & {
    display: flex;
    flex-direction: column;
    background-color: $layout;
  }
}

@media (max-width: 1320px) {
  .sidebar {
    border: none;
    border-radius: 0 30px 30px 0;
  }
}

@media (max-width: 670px) {
  .sidebar {
    min-width: 100%;
    max-width: 100%;
    border-radius: 0;
    width: 100%;
  }
}