@import '../../styles.scss';

.signin {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.enter {
  align-self: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}

.link {
  text-decoration: none;
  color: $layout;
  text-align: center;
  display: block;
}

.error{
  color: $redColor;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 480px) {
  .signin {
    padding: 0 15px;
    max-width: 100%;
  }

  .enter {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .link {
    font-size: 14px;
  }

}